# Spotify Developer Credentials
# Get these for free at: https://developer.spotify.com/dashboard
# 1. Log in and click "Create App"
# 2. App Name: Notepad Playlist Creator
# 3. Redirect URI: http://127.0.0.1:8888/callback
# 4. Copy your Client ID and Client Secret below:

SPOTIPY_CLIENT_ID=870b273f8c794933ab6b2736ef929c96
SPOTIPY_CLIENT_SECRET=61353ef89e5c48e88c174e635068604a
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Default Notepad file to watch for Mode A
NOTEPAD_FILE_PATH=songs_notepad.txt
PLAYLIST_DEFAULT_PREFIX=Notepad Playlist
